<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1>All the cats</h1>
    <p><%= cats %></p>
    <ul>
      <% cats.forEach(cat => { %>
      <li><%= cat %></li>
      <% }) %>
    </ul>
  </body>
</html>
