<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1>Home page <%= "hello world".toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe corporis
      voluptatibus iure, necessitatibus neque possimus exercitationem deleniti
      voluptate excepturi eveniet impedit distinctio ipsam quisquam ipsa ratione
      dolore repudiandae, magnam vero!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, atque.
    </p>
  </body>
</html>
